dl.scholar {

}
dl.scholar dt {
  font-weight: bold;
  font-size: 90%;
  margin: 0;
}
dl.scholar dd {
  margin: 0 0 .4em 2em;
}

fieldset.scholar > dl, 
fieldset.scholar > .form-item,
fieldset.scholar > table,
fieldset.scholar > table.sticky-header + table {
  margin-top: 0;
}

form.scholar.confirmation {
  margin-top: 1em;
}

form.scholar.confirmation .container-inline {
  margin-top: 1em;
}
