/* kalendarz */
#ui-datepicker-div {
  font-size: 8pt;
}

#ui-datepicker-div {
}

.ui-draggable .ui-datepicker-header {
}

.ui-draggable .ui-datepicker-header {
  cursor: move;
}

.ui-datepicker-next, .ui-datepicker-prev {
  cursor: pointer;
}

table.ui-datepicker-calendar {
}
