

.scholar-rendering .hCite .author {
  font-weight: bold;
}

.scholar-asset {
  overflow: hidden;
  background: #027AC6;
  padding: .15em .3em;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #fff;
  margin-right: .25em;
}
.scholar-asset a,
.scholar-asset a:hover,
.scholar-asset a:link,
.scholar-asset a:visited {
  color: #fff;
  text-decoration: none;
  background: none;
}
.scholar-asset:hover {
  background: #0062A0;
}

.scholar-rendering p {
  margin:0;
  padding:0;
}
.scholar-block {
  margin: 0 0 1em; /* tylko dolny margines */
  overflow: hidden;
}

.scholar-block > .tm {
  float: left;
  width: 12em;
}

.scholar-block > .details {
  margin-left: 12em;
}


.scholar-section {
  color: red;
  font-size: 1.35em;
  font-weight: normal;
}
.scholar-subsection {
  color: blue;
  font-size: 1.15em;
  font-weight: normal;
}

.scholar-collapsible {
  border: 1px dotted #eee;
}
.scholar-collapsible-heading {
  cursor: pointer;
}
.scholar-collapsible-collapsed .scholar-collapsible-heading {
  background: url(../img/collapsed.png) 100% 50% no-repeat;
}
.scholar-collapsible-open .scholar-collapsible-heading {
  background: url(../img/open.png) 100% 50% no-repeat;
  font-weight: bold;
}

.scholar-collapsible-disabled .scholar-collapsible-heading {
  background-image: none;
  cursor: default;
}

.scholar-image {
  float: right;
}

.scholar-preface {
  overflow: hidden;
}
