

.scholar-rendering .hCite .author {
  font-weight: bold;
}



.scholar-rendering p {
  margin:0;
  padding:0;
}
.scholar-block {
  margin: 0 0 1em; /* tylko dolny margines */
  overflow: hidden;
}




.scholar-section {
  color: #222;
  font-size: 1.35em;
  font-weight: normal;
}
.scholar-subsection {
  color: #222;
  font-size: 1.15em;
  font-weight: normal;
}



.scholar-collapsible {
  padding-bottom: .5em;
  border-top: 1px solid #ddd;
}
.scholar-collapsible:first-child {
  border: none;
}
.scholar-collapsible-heading {
  font-size: 1.5em;
  cursor: pointer;
  margin: .5em 0;
  color: #666;
}
.scholar-collapsible-collapsed .scholar-collapsible-heading {
  background: url(../img/collapsed.png) 100% 50% no-repeat;
}
.scholar-collapsible-open .scholar-collapsible-heading {
  background: url(../img/open.png) 100% 50% no-repeat;
  font-weight: bold;
}
.scholar-collapsible-disabled .scholar-collapsible-heading {
  background-image: none;
  cursor: default;
}

.scholar-image {
  float: right;
}

.scholar-preface {
  overflow: hidden;
}






.scholar-entry {
  overflow: hidden;
  margin: .5em 0 1.5em;
}
.scholar-entry:first-child {
  margin-top: 0;
}
.scholar-entry-heading {
  float: left;
  width: 10em;
  color: #555;
}
.scholar-entry-content {
  margin-left: 10em; 
}

.scholar-node .authors {
  font-weight: bold;
}

.scholar-node ul.components {
  margin: .5em 0;
  padding: 0 0 0 1.5em;
  list-style: none;
}
.scholar-node ul.components li {
  margin: .5em 0;
}

.scholar-node .conference {
}
.scholar-node .conference-heading {
}

.scholar-node .presentation {
}
.scholar-node .presentation-heading {
  display: inline;
}
.scholar-node .presentation-files {
  display: inline;
}
.scholar-node .presentation-description {
}

.scholar-node .article {
  margin-bottom: .5em;
}
.scholar-node .article-heading {
  display: inline;
}
.scholar-node .article-files {
  display: inline;
}
.scholar-node .article-description {
}


.scholar-node .training-class .title {
  font-weight: bold;
}

.scholar-node .training-heading .title {
  font-weight: bold;
}


.scholar-asset {
  overflow: hidden;
  background: #a2d976; /* #027AC6; */
  padding: 2px 6px 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #fff;
  margin-left: 2px;
  font-size: 11px;
  display: inline-block;
  position: relative;
  top: 0.35em;
}
.scholar-asset:first-child {
  margin-left: 0;
}
.scholar-asset a,
.scholar-asset a:hover,
.scholar-asset a:link,
.scholar-asset a:visited {
  color: #fff;
  text-decoration: none;
  background: none;
}
.scholar-asset:hover {
  background: #71b33c;
}



.training .title {
  display:block;
  margin-bottom: .02em;
}

