.scholar-dl {
  margin-top: 0;
}
.scholar-dl dt {
  font-weight: bold;
  font-size: 90%;
  margin: 0;
}
.scholar-dl dd {
  margin: 0 0 .4em 2em;
}

fieldset.scholar > dl, 
fieldset.scholar > .form-item,
fieldset.scholar > table,
fieldset.scholar > table.sticky-header + table {
  margin-top: 0;
}

form.scholar.confirmation {
  margin-top: 1em;
}

form.scholar.confirmation .container-inline {
  margin-top: 1em;
}

.scholar-attachment-manager .draggable a.tabledrag-handle {
  padding-right: 0.5em;
}

.scholar-attachment-manager th:first-child,
.scholar-attachment-manager td:first-child {
  padding-right: 0;
}

.scholar-attachment-manager .form-text {
  width: 95%;
}

.scholar-attachment-manager div.warning {
  margin-bottom: 1em;
}

fieldset.scholar legend .language-icon {
  border: 1px solid #ccc;
  display: inline-block;
  display: -moz-inline-box;
  *display: block;
  *zoom: 1;
}

.scholar-item-picker .initial {
  display: none;
}
.scholar-item-picker .empty-message,
.scholar-item-picker .empty-message:hover {
  font-style: italic;
  cursor: default;
  background: none;
}

.dialog-button {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
}



.scholar-sortable-multiselect .table-wrapper table {
  margin-top: 0;
}
.scholar-sortable-multiselect .form-text {
  width: 95% !important;
}

.form-item label .language-icon {
  border: 1px solid #ccc;
}


/* scholar-container {{{ */
.scholar-container + .scholar-container {
  border-top: 1px solid #ccc;
}
.scholar-container-heading {
  padding: 12px 0;
}
.scholar-container-content {
  padding: 0 0 12px;
}
/* }}} */

/* scholar-langtext {{{ */
.scholar-element-langtext table {
  border: none;
  margin: 0;
  padding: 0;
}
.scholar-element-langtext tbody {
  border: none;
}
.scholar-element-langtext td {
  padding: 4px 0 !important;
}
.scholar-element-langtext td:first-child {
  white-space: nowrap;
}
.scholar-element-langtext td + td {
  padding: 4px !important;
}
.scholar-element-langtext .form-item {
  margin: 0;
}
.scholar-element-langtext .form-text {
  width: 95% !important;
}
.scholar-element-langtext .scholar-character-countdown {
  font-size: 85%;
  color: #888;
  display: block;
}
/* }}} */

form.scholar input[type="text"],
form.scholar input[type="password"],
form.scholar textarea {
  color: #444;
  border: 1px solid #aaa;
}
form.scholar input[type="text"].error,
form.scholar input[type="password"].error,
form.scholar textarea.error {
  border: 1px solid #e55;
  color: #444;
}
form.scholar input[type="text"]:focus,
form.scholar input[type="password"]:focus,
form.scholar textarea:focus {
  border-color: #000;
  color: #000;
}


form.scholar {
  color: #444;
}
form.scholar .description {
  font-size: .85em;
  color: #777;
  margin: 0;
}

form.scholar fieldset {
  border: 1px solid #aaa;
  border-width: 1px 0 0!important;
  padding: 6px 0 0 !important;
  margin-bottom: 12px !important;
  background: none !important;
}
form.scholar fieldset legend {
  padding: 0 6px 0 0;
}
form.scholar fieldset legend a,
form.scholar fieldset legend a:hover,
form.scholar fieldset.collapsible.collapsed legend a,
form.scholar fieldset.collapsible.collapsed legend a:hover {
  color: #777;
  text-decoration: none;
}
form.scholar fieldset.collapsible legend a {
  color: #000;
}
form.scholar select {
  max-width: 480px;
}
form.scholar .form-radios {
  margin: .25em 0;
}


.scholar-table {
  width: 100%;
}
.scholar-table thead {
  border: solid #e4e4e4;
  border-width: 0 0 2px;
}
.scholar-table thead th,
.scholar-table thead td {
  border: none;
}
.scholar-table th,
.scholar-table td {
  background: none;
  padding: .3em .5em;
  border: 1px solid #e4e4e4;
  border-width: 1px 0;
}
.scholar-table tr.odd {
  background: #f4f4f4;
  padding: 0;
}
.scholar-table tr.even {
  background: #fff;
  padding: 0;
}
.scholar-table tr.odd td.active {
  background: #e9e9e9;
}
.scholar-table tr.even td.active {
  background: #eee;  
}

.scholar-table tr.region,
.scholar-table tr.region.odd,
.scholar-table tr.region.even {
  background: #e3e3e3;
  border: none;
  border-bottom: 2px solid #d2d2d2;
  border-top: 1.5em solid #fff;
  font-weight: bold;
}
.scholar-table tr.region td,
.scholar-table tr.region td.region,
.scholar-table tr.region td.region.active {
  background: none;
  border: none;
  color: #555;
}
.scholar-table tr.region:first-child,
.scholar-table tr.region.odd:first-child,
.scholar-table tr.region.even:first-child {
  border-top: none;
}





.scholar-buttons {
  margin: 16px 0 32px;
}



.scholar-separator {
  margin: 2em .75em;
  border-top: 1px solid #aaa;
}
.scholar-separator hr {
  display: none;
}

.scholar-vtable {
  background: #fff;
  border-spacing: 0;
  border-collapse: separate;
  border: none;
}

.scholar-vtable > tbody {
  border: none;
}

.scholar-vtable > tbody > tr > td {
  vertical-align: top;
  padding: 1em;
  border: 1px solid #ccc;

}

.scholar-vtable > tbody > tr > td:first-child {
  background: #eee;
  padding: 0 0 24px;
  border-right: none;
}

.scholar-vtable > tbody > tr > td + td {
  width: 100%;
  border-left: none;
}

.scholar-vtable .vtab {
  width: 160px;
  padding: 10px 10px 20px;
  cursor: default;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f6f6f6;  
}
.scholar-vtable .vtab-title {
  font-size: 110%;
  font-weight: bold;
}
.scholar-vtable .vtab-title a,
.scholar-vtable .vtab-title a:hover {
  text-decoration: none;
  cursor: default;
}
.scholar-vtable .vtab-description {
  font-size: 80%;
  font-weight: normal;
  line-height: 150%;
}

.scholar-vtable .active .vtab {
  background: #fff;
  border-right-color: #fff;
}

.scholar-vtable > tbody > tr > td .form-item:first-child {
  margin-top: 0;
}

.scholar-vtable .form-text,
.scholar-vtable .form-textarea
.scholar-vtable .resizable-textarea,
.scholar-vtable .scholar-sortable-multiselect {
  width: auto;
}

.scholar .field-suffix label {
  display: inline-block;
  font-weight: normal;
}

.scholar-vtable .resizable-textarea textarea {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

html.js .resizable-textarea textarea {
  resize: none;
  -moz-resize: none;
  -webkit-resize: none;
} 


form.scholar button::-moz-focus-inner,
form.scholar input::-moz-focus-inner {
  border: none !important;
  outline: none !important;
  margin: 0;
  padding: 0;
}

form.scholar .form-submit,
form.scholar .scholar-cancel,
.scholar-sortable-multiselect button {
  background: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: .5em 1.5em;
  font-size: 1em;
  line-height: 1.2em;
  font-family: verdana, sans-serif;
  text-decoration: none;
  color: #000;
}

form.scholar .form-submit:hover,
form.scholar .scholar-cancel:hover,
.scholar-sortable-multiselect button:hover {
  text-decoration: none;
  background: #fff;
}

.scholar-sortable-multiselect .buttons-wrapper {
  margin: 6px 0 12px;
}
.scholar-sortable-multiselect button {
  font-size: 85%;
  margin-right: .25em;
}
.scholar-sortable-multiselect table {
  margin-bottom: 6px;
}


.scholar-language-label .language-icon {
  margin-right: 2px;
  border: 1px solid #999;
}

.scholar-element-wrapper {
  border: 1px solid #aaa;
  width: 95%;
  padding: 0.5em;
}
.scholar-element-wrapper:hover {
  border-color: #777;
}

form.scholar div.warning {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

form.scholar .form-text {
  padding: .25em;
}
form.scholar .form-textarea {
  min-height: 120px;
}
.js form.scholar input.form-autocomplete {
  background-position: 100% 6px;
}
.js form.scholar input.form-autocomplete.throbbing {
  background-position: 100% -14px;
}

.scholar-table tr.region .region-link {
  font-weight: normal;
  display: block;
  text-align: right;
}

.scholar-table thead th.active {
  white-space: nowrap;
}

.scholar-table thead th.active img {
  margin-left: 4px;
}

html form.scholar fieldset.collapsed legend a * {
  display: inline;
}

html form.scholar fieldset.collapsible legend a {
  padding-left: 18px; /* po co w emach, skoro grafika ma rozmiary w px! */
  padding-right: 6px;
}


form.scholar .form-radios label.option {
  margin-right: .7vt5em;
}

.scholar-table tr.success,
.scholar-table tr.success.even {
  background: #dfd;
  border: 1px solid #beb;
  border-width: 0 0 1px;
}
.scholar-table tr.success.odd {
  background: #d2f2d2;
}
.scholar-table tr.error,
.scholar-table tr.error.even {
  background: #fcc;
  border: 1px solid #ebb;
  border-width: 0 0 1px;
}
.scholar-table tr.error.odd {
  background: #f2c2c2;
}

.scholar-table tr.success td {
  background: none;
  color: #020;
}
.scholar-table tr.error td {
  background: none;
  color: #200;
}

body.scholar-dialog {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body.scholar-dialog > .messages {
  margin: 0 10px;
  font-size: 90%;
  padding: 4px;
}
body.scholar-dialog form.scholar {
  padding: 10px;
}

#scholar-itempicker {
  width: 480px;
  height: 240px;
  overflow: hidden;
}
#scholar-itempicker-filter {
  padding: 0 10px 6px;
  height: 24px;
  background: #fff;
}
#scholar-itempicker-filter input {
  width: 360px;
  height: 20px;
  line-height: 18px;
  padding: 2px 4px 2px 24px;
  margin: 0;
  border: 1px solid #aaa;
  background: url(../img/search.png) no-repeat 4px 50%;
}
#scholar-itempicker-filter input:focus {
  border-color: #999;
}
#scholar-itempicker-filter input::-webkit-input-placeholder {
   color: #aaa;
}
#scholar-itempicker-filter input:-moz-placeholder {  
   color: #aaa;
}

#scholar-itempicker-filter button {
  position: absolute;
  border: none;
  background: none;
  padding: 4px;
  cursor: pointer;
  color: #aaa;
}
#scholar-itempicker-filter button:hover {
  color: #444;
}
#scholar-itempicker-items {
  height: 210px;
  overflow: auto;
}
#scholar-itempicker-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#scholar-itempicker-items li {
  color: #444;
  background: none;
  padding: .5em 0 .5em 32px;
  cursor: pointer;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#scholar-itempicker-items li:hover {
  background: #eee;
}
#scholar-itempicker-items li.selected {
  background: #f8f8f8 url(../img/selected.png) no-repeat 8px 50%;
}
#scholar-itempicker-items li + li {
  border-top: 1px solid #ddd;
}



/* modal {{{ */
.dialog {
  background: #f6f6f6;
  background: rgba(246, 246, 246, .9);
  padding: 10px;
  -webkit-box-shadow: 0 0 10px #444;
     -moz-box-shadow: 0 0 10px #444;
          box-shadow: 0 0 10px #444;
}
.ie7 .dialog,
.ie8 .dialog {
  border: 1px solid #999;
}
.dialog .title-bar {
  height: 30px;
  background: #fff;
  border: 1px solid #aeaeae;
  border-bottom: none;
  padding-bottom: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.dialog .title-bar .close {
  display: block;
  float: right;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  color: #666;
  margin-right: 6px;
}
.dialog .title-bar .close:hover {
  color: #000;
  text-decoration: none;
}
.dialog .title-bar .title {
  float: left;
  font-size: 16px;
  line-height: 30px;
  color: #666;
  margin-left: 6px;
  cursor: default;
  font-weight: normal;
}
.dialog .content {
  border: 1px solid #aeaeae;
  border-top: none;
  background: #fff;
}
.dialog.loading .content {
  background: #fff url(../img/throbber.gif) no-repeat 50% 50%;
}
.dialog .status-bar {
  padding: 10px 0 0;
  positioN: relative;
}
.dialog .status {
  position: absolute;
  font-size: 14px;
  padding: 4px 0;
  color: #777;
  background: none;
  border: none;
}

.dialog .buttons {
  text-align: right;
}
.dialog .buttons .dialog-button {
  margin-left: 6px;
}
.dialog-button {
  background: #5eac27;
  border: 1px solid #387804;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  padding: 4px 16px;
  text-decoration: none;
  white-space: nowrap;
}
.ie7 input.dialog-button,
.ie7 button.dialog-button {
  overflow: visible;
  padding: 1px 16px 2px; /* extra padding bug, 
                            wartosci paddingow dobrane empirycznie */
}
.dialog-button:hover {
  background: #6eb640;
  border-color: #387804;
  color: #fff;
  text-decoration: none;
}
.dialog-button.disabled,
.dialog-button.disabled:hover {
  background: #f7f7f7;
  border-color: #ccc;;
  color: #ccc;
  cursor: default;
}
.dialog-button.cancel {
  background-color: #ebebeb;
  border-color: #999;
  color: #777;
}
.dialog-button.cancel:hover {
  background-color: #efefef;
  border-color: #555;
  color: #555;
}
.dialog-button.delete {
  background-color: #d63110;
  border-color: #861406;
  color: #fff;
}
.dialog-button.delete:hover {
  background-color: #e43815;
  border-color: #861406;
  color: #fff;
}
/* }}} */

