

.scholar-rendering .hCite .author {
  font-weight: bold;
}



.scholar-rendering p {
  margin:0;
  padding:0;
}
.scholar-block {
  margin: 0 0 1em; /* tylko dolny margines */
  overflow: hidden;
}

.scholar-box {
  margin: 0 0 1em;
  *zoom: 1;  
}
.scholar-box:before,
.scholar-box:after {
  display: table;
  content: '';
  line-height: 0;
}
.scholar-box:after {
  clear: both;
}


.scholar-section {
  color: #222;
  font-size: 1.5em;
  font-weight: normal;
  margin: 1em 0 .75em;
}
.scholar-subsection {
  color: #222;
  font-size: 1.35em;
  font-weight: normal;
  margin: 1em 0 .75em;
}
.scholar-entry + .scholar-subsection {
  margin-top: 2em;
}


.scholar-collapsible {
  padding-bottom: .5em;
  border-top: 1px solid #ddd;
}
.scholar-collapsible:first-child {
  border: none;
}
.scholar-collapsible-heading {
  font-size: 1.5em;
  cursor: pointer;
  margin: .5em 0;
  color: #666;
  font-weight: bold;
}
.scholar-collapsible-collapsed .scholar-collapsible-heading {
  background: url(../img/collapsed.png) 100% 50% no-repeat;
}
.scholar-collapsible-collapsed .scholar-collapsible-heading:hover {
  background-image: url(../img/collapsed-hover.png);
  color: #222;
}
.scholar-collapsible-open .scholar-collapsible-heading {
  background: url(../img/open.png) 100% 50% no-repeat;
}
.scholar-collapsible-open .scholar-collapsible-heading:hover {
  background-image: url(../img/open-hover.png);
  color: #222;
}
.scholar-collapsible-disabled .scholar-collapsible-heading {
  background-image: none;
  cursor: default;
}

.scholar-image {
  float: right;
}

.scholar-preface {
  overflow: hidden;
}






.scholar-entry {
  overflow: hidden;
  margin: .5em 0 1.5em;
}
.scholar-entry:first-child {
  margin-top: 0;
}
.scholar-entry-heading {
  float: left;
  width: 128px;
  color: #555;
}
.scholar-entry-content {
  margin-left: 128px;
}
.scholar-entry-content:first-child {
  margin-left: 0;
}


.scholar-node .authors {
  font-weight: bold;
}

.scholar-node ul.components {
  margin: .5em 0;
  padding: 0 0 0 1.75em;
  list-style: none;
}
.scholar-node ul.components li {
  margin: .5em 0;
  padding: 0;
  background: none;
}

.scholar-node .conference {
}
.scholar-node .conference-heading {
}

.scholar-node .presentation {
}
.scholar-node .presentation-heading {
  display: inline;
}
.scholar-node .presentation-files {
  display: inline;
}

.scholar-node .article-files .scholar-asset,
.scholar-node .presentation-files .scholar-asset {
  position: relative;
  top: 0.35em;
}

.scholar-node .presentation-description,
.scholar-node .article-description {
}

.scholar-node .article {
  margin-bottom: .5em;
}
.scholar-node .article-heading {
  display: inline;
}
.scholar-node .article-files {
  display: inline;
}

.scholar-node .training-class .title {
  font-weight: bold;
}
.scholar-node .training-heading {
  margin-bottom: .25em;
}
.scholar-node .training-heading .title {
  font-weight: bold;
}
.scholar-node .training-description,
.scholar-node .training-lecturers {
  font-size: 100%;
}
.scholar-node .training-class-files {
  margin-top: .35em;
}
.scholar-node .training-class-files .scholar-asset {
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
}

.scholar-asset {
  overflow: hidden;
  background: #6eb640; /* #a2d976; /* #027AC6; */
  padding: 2px 6px 1px;
  color: #fff;
  margin: 0;
  font-size: 11px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom:1;
}
.scholar-asset a,
.scholar-asset a:hover,
.scholar-asset a:link,
.scholar-asset a:visited {
  color: #fff;
  text-decoration: none;
  background: none;
}
.scholar-asset:hover {
  background: #3d9e00; /* #71b33c; */
}





